*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;

    --purple: #483D8B;
    --blue: #3855B3;
    --pink: #AD53A9 ;
    --green: #367335;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card h3{
    font-weight: 400;
    padding: 1.5rem;
}

.card-content{
    background-color: var(--bg-card);
    border-radius: 3rem;
    width: 18rem;
    box-shadow: .5rem .5rem .5rem .2rem rgba(0, 0, 0, 0.4);
}

.main{
    position: relative;
    margin-bottom: 3rem;
}

.name-user-container{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1.5rem;
}

.name-user-container img{
    height: 2.5rem;
    border: solid .1rem var(--text);
    border-radius: 50%;
    padding: .3rem;
}

.user{
    overflow: hidden;
}

.img-user{
    height: 17rem;
    border-radius: 50%;
    border: solid .4rem var(--img-profile);
    position: relative;
    left: 3.5rem;
}

.datas{
    display: flex;
    flex-direction: column;
    gap: .2rem;
    padding: 1rem;
    width: 10rem;
    border-radius: 2.3rem;
    position: absolute;
    bottom: -2.5rem;
    background-image: linear-gradient(black, transparent, black);
    margin-left: 1rem;
}

.data{
    display: flex;
    align-items: center;
    gap: .4rem;
    overflow: hidden;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
    padding: 2rem 1.5rem 1.5rem 1.5rem;
}

.footer img{
    height: 2rem;
}

.controls{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.data-user,
.customization,
.download{
    border: solid .1rem var(--img-profile);
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: .5rem .5rem .5rem .2rem rgba(0, 0, 0, 0.4);
    background-color: var(--bg);
}

.data-user input,
.data-user button,
.download button{
    border: none;
    border-radius: .5rem;
}

.data-user input{
    padding: .7rem;
}

.data-user button,
.download button{
    padding: .5rem 1rem;
    cursor: pointer;
}

.customization button{
    border: none;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
}

.customization button:hover{
    transform: scale(1.5);
    transition: .5s;
}

.download button:hover{
    background-color: var(--img-profile);
    color: var(--text);
}

.colors{
    display: flex;
    gap: 1rem;
}

.pink{
    background-color: var(--pink);
}

.blue{
    background-color: var(--blue);
}

.green{
    background-color: var(--green);
}

.purple{
    background-color: var(--purple);
}

.black{
    background-color: var(--bg-card);
}

.data-user button:hover{
    background-color: var(--img-profile);
    color: var(--text);
}

@media (min-width: 750px) {  
    body main{
        flex-direction: row;
    }
}

@media (min-width: 900px) {  
    body main{
        width: 80%;
        justify-content: space-around;
    }
}

